<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

    <p><%= rows[0].idx %></p>

    <p><%= rows[0].creator_id %></p>

    <p><%= rows[0].title %></p>

    <p><%= rows[0].content %></p>

    <p><%= rows[0].regdate %></p>
  </body>
</html>
