<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <h1><%= title %></h1>

    <a href="/board/write">글쓰기로 이동</a>
    <br><br>

    <table border="1">
      <tr>
        <td>번호</td>
        <td>작성자</td>
        <td>제목</td>
        <td>조회수</td>
      </tr>
      <%
        for(var i=0; i<rows.length; i++)
        {
          var oneItem = rows[i];
      %>
      <tr>
        <td><%=oneItem.idx%></td>
        <td><%=oneItem.creator_id%></td>
        <td><a href="/board/read/<%=oneItem.idx%>"><%=oneItem.title%></a></td>
        <td><%=oneItem.hit%></td>
      </tr>
      <%
        }
      %>
    </table>
  </body>
</html>
